In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import sys
sys.path.append("..")
from scripts.missing_percentage import percent_missing
from scripts.missing_filler import *
from scripts.outlier import *
from scripts.type_format import *
import os 
import warnings 
import sys

In [2]:
warnings.filterwarnings('ignore')

In [3]:
#set path for files

parent_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir)) # setting path to parent directory
scripts_dir = os.path.join(parent_dir,"scripts") # setting path to scripts directory
data_path = os.path.join(parent_dir,"data","telecom_data.csv") # setting path to data directory

sys.path.insert(1, scripts_dir)

In [4]:
db=pd.read_csv(data_path)

In [5]:
len(db.columns)

55

# Understanding the data

In [6]:
db.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311450e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082010e+14,3.366496e+10,3.552120e+13,9.16457E+15,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311450e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082020e+14,3.368185e+10,3.579400e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311450e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082000e+14,3.376063e+10,3.528150e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311450e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082010e+14,3.375034e+10,3.535660e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311450e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082010e+14,3.369980e+10,3.540700e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [7]:
db.shape

(150001, 55)

In [8]:
missingCount=db.isnull().sum()

In [9]:
missingCount.sum()

1031392

# Data Cleaning step by step

handling the missing values

In [10]:
percent_missing(db)

The telecom dataset contains 12.5 % missing values.

In [11]:
#how much null values each columns has
db.isna().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

the missing values of some relevant columns with a moderate missing value data cleaned here.

In [12]:
# Droping rows with missing values

db_clean = db.dropna(subset=['Bearer Id'])
db_clean = db_clean.dropna(subset=['Start'])
db_clean = db_clean.dropna(subset=['End'])
db_clean = db_clean.dropna(subset=['IMSI'])
db_clean = db_clean.dropna(subset=['MSISDN/Number'])

db_clean.shape

(148506, 55)

In [13]:
db_clean.isna().sum()

Bearer Id                                        0
Start                                            0
Start ms                                         0
End                                              0
End ms                                           0
Dur. (ms)                                        0
IMSI                                             0
MSISDN/Number                                    0
IMEI                                             0
Last Location Name                             160
Avg RTT DL (ms)                              27636
Avg RTT UL (ms)                              27616
Avg Bearer TP DL (kbps)                          0
Avg Bearer TP UL (kbps)                          0
TCP DL Retrans. Vol (Bytes)                  87764
TCP UL Retrans. Vol (Bytes)                  96128
DL TP < 50 Kbps (%)                            712
50 Kbps < DL TP < 250 Kbps (%)                 712
250 Kbps < DL TP < 1 Mbps (%)                  712
DL TP > 1 Mbps (%)                             712
UL TP < 10 Kbps (%)                            767
10 Kbps < UL TP < 50 Kbps (%)                  767
50 Kbps < UL TP < 300 Kbps (%)                 767
UL TP > 300 Kbps (%)                           767
HTTP DL (Bytes)                              81129
HTTP UL (Bytes)                              81475
Activity Duration DL (ms)                        0
Activity Duration UL (ms)                        0
Dur. (ms).1                                      0
Handset Manufacturer                             0
Handset Type                                     0
Nb of sec with 125000B < Vol DL              96775
Nb of sec with 1250B < Vol UL < 6250B        92269
Nb of sec with 31250B < Vol DL < 125000B     92978
Nb of sec with 37500B < Vol UL              128950
Nb of sec with 6250B < Vol DL < 31250B       87838
Nb of sec with 6250B < Vol UL < 37500B      110803
Nb of sec with Vol DL < 6250B                  713
Nb of sec with Vol UL < 1250B                  768
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 0
Total DL (Bytes)                                 0
dtype: int64

Remove columns when the number of missing vlaues is more than 30%

In [14]:
db_clean_1 = db_clean.drop(['TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)', 'HTTP DL (Bytes)','HTTP UL (Bytes)','Nb of sec with 125000B < Vol DL', 'Nb of sec with 1250B < Vol UL < 6250B', 'Nb of sec with 31250B < Vol DL < 125000B', 'Nb of sec with 37500B < Vol UL', 'Nb of sec with 6250B < Vol DL < 31250B', 'Nb of sec with 6250B < Vol UL < 37500B'], axis=1)
db_clean_1.shape

(148506, 45)

In [15]:
#change milliseconds into seconds and bytes into megabytes


# change start and End to datetime 


db_clean_1['Start']=pd.to_datetime(db_clean_1['Start'])
db_clean_1['End']=pd.to_datetime(db_clean_1['End'])

db_clean_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148506 entries, 0 to 149999
Data columns (total 45 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Bearer Id                       148506 non-null  float64
 1   Start                           148506 non-null  datetime64[ns]
 2   Start ms                        148506 non-null  float64
 3   End                             148506 non-null  datetime64[ns]
 4   End ms                          148506 non-null  float64
 5   Dur. (ms)                       148506 non-null  float64
 6   IMSI                            148506 non-null  float64
 7   MSISDN/Number                   148506 non-null  float64
 8   IMEI                            148506 non-null  float64
 9   Last Location Name              148346 non-null  object
 10  Avg RTT DL (ms)                 120870 non-null  float64
 11  Avg RTT UL (ms)                 120890 non-null  float64
 12  Avg Bearer TP DL (kbps)         148506 non-null  float64
 13  Avg Bearer TP UL (kbps)         148506 non-null  float64
 14  DL TP < 50 Kbps (%)             147794 non-null  float64
 15  50 Kbps < DL TP < 250 Kbps (%)  147794 non-null  float64
 16  250 Kbps < DL TP < 1 Mbps (%)   147794 non-null  float64
 17  DL TP > 1 Mbps (%)              147794 non-null  float64
 18  UL TP < 10 Kbps (%)             147739 non-null  float64
 19  10 Kbps < UL TP < 50 Kbps (%)   147739 non-null  float64
 20  50 Kbps < UL TP < 300 Kbps (%)  147739 non-null  float64
 21  UL TP > 300 Kbps (%)            147739 non-null  float64
 22  Activity Duration DL (ms)       148506 non-null  float64
 23  Activity Duration UL (ms)       148506 non-null  float64
 24  Dur. (ms).1                     148506 non-null  float64
 25  Handset Manufacturer            148506 non-null  object
 26  Handset Type                    148506 non-null  object
 27  Nb of sec with Vol DL < 6250B   147793 non-null  float64
 28  Nb of sec with Vol UL < 1250B   147738 non-null  float64
 29  Social Media DL (Bytes)         148506 non-null  float64
 30  Social Media UL (Bytes)         148506 non-null  float64
 31  Google DL (Bytes)               148506 non-null  float64
 32  Google UL (Bytes)               148506 non-null  float64
 33  Email DL (Bytes)                148506 non-null  float64
 34  Email UL (Bytes)                148506 non-null  float64
 35  Youtube DL (Bytes)              148506 non-null  float64
 36  Youtube UL (Bytes)              148506 non-null  float64
 37  Netflix DL (Bytes)              148506 non-null  float64
 38  Netflix UL (Bytes)              148506 non-null  float64
 39  Gaming DL (Bytes)               148506 non-null  float64
 40  Gaming UL (Bytes)               148506 non-null  float64
 41  Other DL (Bytes)                148506 non-null  float64
 42  Other UL (Bytes)                148506 non-null  float64
 43  Total UL (Bytes)                148506 non-null  float64
 44  Total DL (Bytes)                148506 non-null  float64
dtypes: datetime64[ns](2), float64(40), object(3)
memory usage: 52.1+ MB

In [16]:
# Changing the id features to categorical variables.

db_clean_2 = db_clean_1.astype({"Bearer Id": str, "MSISDN/Number": str, "Last Location Name": str})

In [18]:
#filling missing vlaues of objects by mode
db_clean_3=db_clean_2.fill_missing_by_mode(db_clean_2)

AttributeError: 'DataFrame' object has no attribute 'fill_missing_by_mode'

In [41]:
pd.isna(db_clean_3) #Return True value when None is found

True

In [ ]:
db_clean_3.skew(axis = 0, skipna = True)

In [131]:
ax=sns.lineplot(x='stack' y='column')
sns.boxplot(db_clean_2.Start)

TypeError: Horizontal orientation requires numeric `x` variable.